/********** Fonts *********/

/******* CSS reset *******/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit
}

img,
svg {
    display: block;
    max-width: 100%;
}

/********* Variables *********/

:root {
    /********** Colors ***********/
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /******** Typography *********/
    --fs-400: 0.9375rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --font-defaut: Overpass, sans-serif;
}



/*********** Styles *********/

body {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-family: var(--font-defaut);
}

.thank-you {
    display: none;
}

.grid {
    display: grid;
    align-items: start;
}

main {
    min-height: 100vh;
    place-content: center;
}

.rate-us {
    width: 20.3125rem;
}

/*********** Media *********/