/********** Fonts *********/

/******* CSS reset *******/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit
}

img,
svg {
    display: block;
    max-width: 100%;
}

/********* Variables *********/

/********** Colors ***********/

/******** Typography *********/

/*********** Styles *********/

.thank-you {
    display: none;
}

.grid {
    display: grid;
    align-items: start;
}

main {
    min-height: 100vh;
    place-content: center;
}

.rate-us {
    width: 20.3125rem;
}

/*********** Media *********/